{% extends 'Bases.html' %}
{% load static %}

{% block title %}
Book Your Courier with Courier Hub
{% endblock %}

{% block content %}

<!-- Code to stop go to This App without login -->
{% if not request.session.email %}
<script>
    alert("You have to login first. Press OK to go out");
    location.href = "/signup/";
</script>
{% endif %}


<div class="row my-4">
    <div class="fw-bold display-5 text-warning text-center mb-4">
        <i class="fas fa-plus-circle me-1"></i>
        Create New Shipment
    </div>
    <p class="text-center lead">
        Fill out the details below to schedule a new courier pick-up and delivery.
    </p>
</div>

<div class="row my-4">
    <div class="col-sm-11 mx-auto">
        <div class="row mb-4">
            {% for m in messages %}
            <div class="text-center fs-5 text-primary" role="alert">
                <div class="fw-bold text-danger">Message :
                    <span class="text-success">{{ m }}</span>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-lg-10 col-md-12 mx-auto">
                <form method="post" class="card shadow-lg p-4 mb-5 rounded">
                    {% csrf_token %}
                    <h4 class="mb-3 text-secondary border-bottom pb-2">
                        <i class="fas fa-user-tag me-2"></i>
                        Your Details
                    </h4>
                    <div class="row g-3 mb-4">
                        <div class="col-md-6">
                            <label for="senderName" class="form-label">Name</label>
                            <input type="text" name="nam" class="form-control" id="senderName" disabled required
                                value="{{ SN }}">
                            <div class="text-danger">It can not be changed.</div>
                        </div>
                        <div class="col-md-6">
                            <label for="senderAddress" class="form-label">Address</label>
                            <input type="text" name="senderAddress" class="form-control" id="senderAddress"
                                placeholder="Pick-up Address" value="{{ sender_address_default }}" required>
                        </div>
                        <div class="col-md-6">
                            <label for="senderPhone" class="form-label">Phone Number</label>
                            <input type="number" name="senderPhone" class="form-control" id="senderPhone"
                                placeholder="Enter an Alternative Number" value="{{ sender_phone_default }}" required>
                        </div>
                    </div>

                    <h4 class="mb-3 text-secondary border-bottom pb-2">
                        <i class="fas fa-location-arrow me-2"></i>
                        Recipient Details
                    </h4>
                    <div class="row g-3 mb-4">
                        <div class="col-md-6">
                            <label for="receiverName" class="form-label">Name</label>
                            <input type="text" name="receiverName" class="form-control" id="receiverName"
                                placeholder="Recipient's Full Name" required>
                        </div>
                        <div class="col-md-6">
                            <label for="receiverAddress" class="form-label">Address</label>
                            <input type="text" name="receiverAddress" class="form-control" id="receiverAddress"
                                placeholder="Delivery Address" required>
                        </div>
                        <div class="col-md-6">
                            <label for="receiverPhone" class="form-label">Phone Number</label>
                            <input type="number" name="receiverPhone" class="form-control" id="receiverPhone"
                                placeholder="123-456-7890" required>
                        </div>
                    </div>

                    <h4 class="mb-3 text-secondary border-bottom pb-2">
                        <i class="fas fa-box-open me-2"></i>
                        Package Details
                    </h4>
                    <div class="row g-3 mb-5">
                        <div class="col-md-4">
                            <label for="weight" class="form-label">Weight (kg)</label>
                            <input type="number" name="weight" class="form-control" id="weight" min="0.1" step="0.1"
                                required>
                        </div>
                        <div class="col-md-4">
                            <label for="serviceType" class="form-label">Service Type</label>
                            <select class="form-select" name="serviceType" id="serviceType" required>
                                <option selected disabled>Choose...</option>
                                <option>Standard (9-10 days)</option>
                                <option>Express (7-8 days)</option>
                                <option>Same Day (for same city or town)</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label for="value" class="form-label">Declared Value (Rs.)</label>
                            <input type="number" name="money" class="form-control" id="value" min="100" step="1"
                                placeholder="For Insurance" required>
                        </div>
                    </div>

                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-warning btn-lg text-light">
                            <i class="fas fa-paper-plane me-2"></i> Submit Order
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}