{% extends 'Bases.html' %}
{% load static %}

{% block title %}
Track Your Order
{% endblock %}

{% block content %}

<!-- Code to stop go to This App without login -->
{% if not request.session.email %}
<script>
    alert("You have to login first. Press OK to go out");
    location.href = "/signup/";
</script>
{% endif %}


<div class="row my-4">
    <div class="fw-bold display-5 text-warning text-center mb-4">
        <i class="fas fa-map-marker-alt me-1"></i>
        Shipment Tracking
        <i class="fas fa-truck ms-1"></i>
    </div>
</div>

<div class="row my-5">
    <div class="col-sm-11 mx-auto">
        <div class="row justify-content-center" id="trackingResults">
            <div class="col-lg-8 col-md-10">
                <div class="card shadow-lg">
                    {% for s in active_shipments %}
                    <div class="card-header bg-success text-white">
                        <h5 class="mb-0"><i class="fas fa-check-circle me-2"></i> Status: {{s.delivery_status}} </h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text fs-5">Tracking ID: <b> {{s.trackingId}} </b></p>
                        <p class="card-text">Estimated Delivery: <b> {{ s.delivered_at }} </b></p>

                        <h6 class="mt-4 mb-3 border-bottom pb-2 text-secondary">Shipment History</h6>
                        <ul class="list-group list-group-flush">
                            {% if s.delivery_status == "OUT_FOR_DELIVERY" or s.delivery_status == "AT_HUB" or s.delivery_status == "DEPARTED" or s.delivery_status == "DELIVERED" %}
                            <li class="list-group-item d-flex justify-content-between align-items-start">
                                <div>
                                    <i class="fas fa-check text-success me-2"></i>
                                    <span class="fw-bold">Out for Delivery</span>
                                    <p class="mb-0 text-muted small">Local Distribution Center,
                                        {{s.current_location}}
                                    </p>
                                </div>
                                <span class="badge bg-success rounded-pill">{{ s.status_updated_at }}</span>
                            </li>
                            {% endif %}

                            {% if s.delivery_status == "AT_HUB" or s.delivery_status == "DEPARTED" or s.delivery_status == "DELIVERED" %}
                            <li class="list-group-item d-flex justify-content-between align-items-start">
                                <div>
                                    <i class="fas fa-truck-loading text-info me-2"></i>
                                    <span class="fw-bold">Arrived at Destination Hub</span>
                                    <p class="mb-0 text-muted small">
                                        {{s.current_location}}
                                    </p>
                                </div>
                                <span class="badge bg-info rounded-pill">{{ s.status_updated_at }}</span>
                            </li>
                            {% endif %}

                            {% if s.delivery_status == "DEPARTED" or s.delivery_status == "DELIVERED" %}
                            <li class="list-group-item d-flex justify-content-between align-items-start">
                                <div>
                                    <i class="fas fa-plane text-secondary me-2"></i>
                                    <span class="fw-bold">Departed from Origin Hub</span>
                                    <p class="mb-0 text-muted small">{{s.current_location}}</p>
                                </div>
                                <span class="badge bg-secondary rounded-pill">{{ s.status_updated_at }}</span>
                            </li>
                            {% endif %}

                            {% if s.delivery_status == "DELIVERED" %}
                            <li class="list-group-item d-flex justify-content-between align-items-start">
                                <div>
                                    <i class="fas fa-box-open text-muted me-2"></i>
                                    <span class="fw-bold">Shipment Picked Up</span>
                                    <p class="mb-0 text-muted small"> {{s.recipientAddress}} </p>
                                </div>
                                <span class="badge bg-dark rounded-pill">{{ s.status_updated_at }}</span>
                            </li>
                            {% endif %}

                            {% if s.delivery_status == "CANCELLED" %}
                            <li class="list-group-item d-flex justify-content-between align-items-start">
                                <div>
                                    <i class="fas fa-box-open text-muted me-2"></i>
                                    <span class="fw-bold">Order has been cancelled</span>
                                    <p class="mb-0 text-muted small"> {{s.recipientAddress}} </p>
                                </div>
                                <span class="badge bg-dark rounded-pill">{{ s.status_updated_at }}</span>
                            </li>
                            {% endif %}

                        </ul>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}