{% extends 'base.html' %}
{% load static %}

{% block title %}
PostOffice - Log Yourself
{% endblock %}

{% block content %}
<div class="row mt-5">
    <div class="col-sm-6 mx-auto my-auto">
        <div class="h3 text-center text-info my-4">Log in yourself!</div>
        <form method="post" class="shadow-lg p-5 bg-light rounded-5">
            <div class="row mb-2">
                <div class="col-sm-10 mx-auto">
                    {% for message in messages %}
                    <div class="alert alert-danger fade show" role="alert">
                        <strong>Message : </strong> {{ message }}
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% csrf_token %}
            Hello Sir! Enter Your User Id
            <div class="input-group mb-3 shadow-lg">
                <i class="input-group-text bg-danger text-light p-3">
                    <i class="fa-solid fa-user fs-2"></i>
                </i>
                <input name="email" type="text" required placeholder="Enter Your Email" class="form-control p-3">
            </div>
            Enter Your Password
            <div class="input-group mb-5 shadow-lg">
                <i class="input-group-text bg-danger text-light p-3">
                    <i class="fa-solid fa-key fs-2"></i>
                </i>
                <input name="pass" type="password" required placeholder="Enter your password" class="form-control p-3">
            </div>
            <input type="submit" value="Enter into DashBoard" class="form-control btn btn-success text-light">
        </form>
    </div>
</div>
<div class="row mb-5 mt-3">
    <div class="col-sm-4 mx-auto">
        If you have no account than click on it
        <a href="{% url 'signup' %}">Sign Up Yourself!</a>
    </div>
</div>

{% endblock %}